{% extends 'base.html.twig' %}

{% block title %}Detalle de Ruta{% endblock %}

{% block body %}
    <h1 class="text-center">{{ route.name }}</h1>

    <div class="card shadow-lg p-4 mt-4">
        <div class="card-body">
            <h5 class="card-title text-primary fw-bold">Tipo de Ruta: <span class="badge bg-secondary">{{ route.routeType.value }}</span></h5>
            <p class="card-text"><strong>Rating:</strong> {{ route.rating }}</p>
            <p class="card-text"><strong>Longitud:</strong> {{ route.length }} metros</p>
            <p class="card-text"><strong>Número de largos:</strong> {{ route.pitches }}</p>
            <p class="card-text"><strong>Ubicación:</strong> {{ route.location.name }}</p>
            <p class="card-text"><a href="{{ route.url }}" target="_blank" class="btn btn-link">Ver más información</a></p>
        </div>
    </div>

    <div class="d-flex justify-content-between mt-4">
        <a href="{{ path('app_route_index') }}" class="btn btn-secondary">Volver al listado</a>
        <a href="{{ path('app_route_edit', {'id': route.id}) }}" class="btn btn-warning">Editar</a>
    </div>
{% endblock %}
